.alley-list {
  --alley-list-color-avatar-bg: #b8b8b8;
  --alley-list-color-avatar: #fff;
  --alley-list-color-avatar-font-size: 18px;
  --alley-list-item-padding: 8px;
  --alley-list-item-margin: 10px;
  --alley-list-item-shadow-color: #edeef1;

  padding: 0 10px;

  &-header {
    text-align: center;
    color: var(--alley-color-weak);
    font-size: var(--alley-font-size-5);
  }

  &-item {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: var(--alley-list-item-padding) 0;
    box-shadow: 0 1px 7px 0 var(--alley-list-item-shadow-color);
    border-radius: var(--alley-border-radius-lg);
    margin: var(--alley-list-item-margin) 0;
    flex-wrap: wrap;
    background-color: var(--alley-color-bg);

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      &-avatar {
        --width: 36px;
        --height: var(--width);
        min-width: var(--width);
        background-color: var(--alley-list-color-avatar-bg);
        width: var(--width);
        height: var(--height);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--alley-list-color-avatar-font-size);
        color: var(--alley-list-color-avatar);
        margin-left: 5px;
      }

      &-texts {
        padding: 0 5px;
        flex-grow: 8;
        text-align: left;
      }

      &-title {
        line-height: var(--alley-line-height);
        word-wrap: break-word;
        word-break: break-all;
      }

      &-description {
        font-size: var(--alley-font-size-sm);
        color: var(--alley-color-weak);
      }

      &-extra {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--alley-font-size-3);
        color: var(--alley-color-weak);
      }
    }

    &__foot {
      margin-top: 4px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dark .alley-list {
  --alley-list-item-shadow-color: #000;
  --alley-list-color-avatar: var(--alley-color-light);
  --alley-list-color-avatar-bg: #6a6a6a;
}
