$base: "alley-button";

.#{$base} {
  --filter-scale: 1;
  --alley-button-content-line-height-sm: 1.5714285714285714;
  --alley-color-button-backgroud: #f9f9f9;
  --alley-color-button-text: #213547;
  --alley-color-button-hover: var(--alley-color-hover-text);
  --alley-color-button-ripple: var(--alley-slate-blue-2);
  --alley-color-button-ripple-danger: #ff7875;
  --alley-button-primary-color: #fff;
  --alley-button-padding-inline: 15px;
  --alley-button-padding-inline-lg: 15px;
  --alley-button-padding-inline-sm: 7px;
  --alley-button-only-icon-size: 16px;
  --alley-button-only-icon-size-sm: 14px;
  --alley-button-only-icon-size-lg: 18px;
  --alley-button-content-font-size: 14px;
  --alley-button-content-font-size-sm: 14px;
  --alley-button-content-font-size-lg: 16px;
  --alley-button-content-line-height: 1.5714285714285714;
  --alley-button-content-line-height-sm: 1.5714285714285714;
  --alley-button-content-line-height-lg: 1.5;
  --alley-button-padding-block: 4px;
  --alley-button-padding-block-sm: 0;
  --alley-button-padding-block-lg: 7px;
  --alley-button-plain-hover-bg: rgba(0, 0, 0, 0.06);

  --alley-button-ripple-container: #d7d9ff;

  position: relative;
  border-radius: 8px;
  height: var(--alley-control-height);
  border: 1px solid transparent;
  padding: var(--alley-button-padding-block) var(--alley-button-padding-inline);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--alley-color-button-backgroud);
  transition: all 0.2s ease-in-out;
  color: var(--alley-color-button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  // 强制浏览器提前渲染 filter 属性, 防止 transition 中 filter 与 transform 一起使用时不生效
  will-change: filter;

  &:not(.#{$base}-disabled, .#{$base}-primary):hover {
    border-color: var(--alley-color-button-hover);
    color: var(--alley-color-hover);
  }

  &-filter:not(.#{$base}-disabled):hover {
    filter: drop-shadow(0 0 1em var(--alley-color-hover-filter));
    transform: scale(var(--filter-scale));
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &-primary {
    --alley-button-ripple-container: #9ca1ff;

    color: var(--alley-button-primary-color);
    background: var(--alley-color-primary);
    box-shadow: var(--alley-button-primary-shadow);
  }

  &-block {
    width: 100%;
  }

  &-disabled {
    cursor: not-allowed;
    color: var(--alley-color-text-disabled);
    background: var(--alley-color-bg-container-disabled);
    box-shadow: none;
  }

  &.#{$base}-icon-only {
    width: var(--alley-control-height);
    padding-inline-start: 0;
    padding-inline-end: 0;

    &.#{$base}-round {
      width: auto;
    }
  }

  &.#{$base}-round {
    border-radius: var(--alley-control-height);
    padding-inline-start: calc(var(--alley-control-height) / 2);
    padding-inline-end: calc(var(--alley-control-height) / 2);
  }

  &-small {
    font-size: var(--alley-button-content-font-size-sm);
    line-height: var(--alley-button-content-line-height-sm);
    height: var(--alley-control-height-sm);
    padding: var(--alley-button-padding-block-sm) var(--alley-button-padding-inline-sm);
    border-radius: var(--alley-border-radius-sm);

    &.#{$base}-icon-only {
      width: var(--alley-control-height-sm);
    }

    &.#{$base}-round {
      border-radius: var(--alley-control-height-sm);
      padding-inline-start: calc(var(--alley-control-height-sm) / 2);
      padding-inline-end: calc(var(--alley-control-height-sm) / 2);
    }
  }

  &-large {
    font-size: var(--alley-button-content-font-size-lg);
    line-height: var(--alley-button-content-line-height-lg);
    height: var(--alley-control-height-lg);
    padding: var(--alley-button-padding-block-lg) var(--alley-button-padding-inline-lg);
    border-radius: var(--alley-border-radius-lg);

    &.#{$base}-icon-only {
      width: var(--alley-control-height-lg);
    }

    &.#{$base}-round {
      border-radius: var(--alley-control-height-lg);
      padding-inline-start: calc(var(--alley-control-height-lg) / 2);
      padding-inline-end: calc(var(--alley-control-height-lg) / 2);
    }
  }

  &-danger:not(.#{$base}-disabled) {
    &:not(.#{$base}-plain) {
      color: #fff;
      background-color: var(--alley-color-error);
    }

    // &.#{$base}-plain {
    //   color: var(--alley-color-text);
    // }

    &.#{$base}-filter:not(.#{$base}-disabled):hover {
      border-color: var(--alley-color-hover-danger);
      background-color: var(--alley-color-hover-danger);
      filter: drop-shadow(0 0 8px var(--alley-color-hover-danger-filter));
      transform: scale(var(--filter-scale));
    }

    &.#{$base}-plain.#{$base}-filter:not(.#{$base}-disabled):hover {
      filter: drop-shadow(0 0 10px var(--alley-color-danger));
      transform: scale(var(--filter-scale));
      color: var(--alley-color-danger);
      background-color: transparent;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &-circle {
    border-radius: 50%;
    padding: 0.6rem;
  }

  &-danger:not(.#{$base}-disabled):hover {
    border-color: var(--alley-color-danger);
    color: #fff;
  }

  &-plain {
    border: none;
    background-color: transparent;

    &:not(:disabled):not(.#{$base}-disabled):hover {
      color: var(--alley-color-text);
      background: var(--alley-button-plain-hover-bg);
    }

    &:not(:disabled):not(.#{$base}-disabled):active {
      color: var(--alley-color-text);
      background: var(--alley-color-bg-text-active);
    }

    &:focus-visible,
    &:focus {
      outline: none;
    }

    *:focus {
      outline: none;
    }
  }

  &-space-compact-item {
    border: var(--alley-line-width) var(--alley-line-type) var(--alley-color-border);

    &:not([disabled]) {
      &:hover {
        filter: none;
        transform: none;
        z-index: 2;
      }

      &:focus {
        outline: none;
      }
    }

    &:not(:first-child):last-child {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    &:not(:last-child):first-child {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-inline-end: calc(var(--alley-line-width) * -1);
    }
  }

  &-ripple-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: inherit;

    span {
      transform: scale(0);
      border-radius: 100%;
      position: absolute;
      opacity: 0.75;
      z-index: -1; // 在文字下方显示动画
      background-color: var(--alley-button-ripple-container);
      animation-name: ripple;
      animation-duration: var(--alley-button-ripple-duration);
    }

    @keyframes ripple {
      to {
        opacity: 0;
        transform: scale(2);
      }
    }
  }
}

.dark {
  .#{$base} {
    --alley-color-button-backgroud: #1a1a1a;
    --alley-color-button-text: var(--alley-color-text);
    --alley-button-plain-hover-bg: rgba(255, 255, 255, 0.06);

    &:not(.#{$base}-primary, .#{$base}-danger) {
      --alley-button-ripple-container: #4045a3;
    }
  }
}
