$class-name: "alley-button";

.#{$class-name} {
  --filter-scale: 1;
  --alley-button-content-line-height-sm: 1.5714285714285714;
  --alley-color-button-backgroud: #f9f9f9;
  --alley-color-button-text: #213547;
  --alley-color-button-hover: var(--alley-color-hover-text);
  --alley-color-button-ripple: var(--alley-slate-blue-2);
  --alley-color-button-ripple-danger: #ffccc7;

  position: relative;
  border-radius: 8px;
  height: var(--alley-control-height);
  border: 1px solid transparent;
  padding: var(--alley-padding-xs) var(--alley-padding-xxl);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--alley-color-button-backgroud);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--alley-color-button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  // 强制浏览器提前渲染 filter 属性, 防止 transition 中 filter 与 transform 一起使用时不生效
  will-change: filter;

  &:not(.disabled):hover {
    border-color: var(--alley-color-button-hover);
    color: var(--alley-color-hover);
  }

  &-filter:not(.disabled):hover {
    filter: drop-shadow(0 0 1em var(--alley-color-hover-filter));
    transform: scale(var(--filter-scale));
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &.block {
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--alley-color-text-disabled);
  }

  &.circle {
    border-radius: 50%;
    padding: 0.6rem;
    height: var(--alley-control-height);
    width: var(--alley-control-height);
  }

  &-small {
    font-size: var(--alley-font-size-4);
    line-height: var(--alley-button-content-line-height-sm);
    height: var(--alley-control-height-sm);
    padding: 0 7px;
    border-radius: 4px;

    &.circle {
      padding: 0.3rem;
      width: var(--alley-control-height-sm);
      height: var(--alley-control-height-sm);
    }

    &.plain {
      height: var(--alley-font-size);
    }
  }

  &-large {
    font-size: var(--alley-font-size-8);
    height: var(--alley-control-height-lg);

    &.circle {
      padding: 0.8rem;
      width: var(--alley-control-height-lg);
      height: var(--alley-control-height-lg);
    }
  }

  &-danger:not(.disabled) {
    &:not(.plain) {
      color: #fff;
      background-color: var(--alley-color-error);
    }

    // &.plain {
    //   color: var(--alley-color-text);
    // }

    &.#{$class-name}-filter:not(.disabled):hover {
      border-color: var(--alley-color-hover-danger);
      background-color: var(--alley-color-hover-danger);
      filter: drop-shadow(0 0 8px var(--alley-color-hover-danger-filter));
      transform: scale(var(--filter-scale));
    }

    &.plain.#{$class-name}-filter:not(.disabled):hover {
      filter: drop-shadow(0 0 10px var(--alley-color-danger));
      transform: scale(var(--filter-scale));
      color: var(--alley-color-danger);
      background-color: transparent;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &-danger:not(.disabled):hover {
    border-color: var(--alley-color-danger);
    color: #fff;
  }

  &.plain {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;

    &:focus-visible,
    &:focus {
      outline: none;
    }

    *:focus {
      outline: none;
    }
  }

  &-compact-item {
    border: var(--alley-line-width) var(--alley-line-type) var(--alley-color-border);

    &:not([disabled]) {
      &:hover {
        filter: none;
        transform: none;
      }

      &:focus {
        outline: none;
      }
    }

    &:not(.#{$class-name}-compact-first-item) {
      &.#{$class-name}-compact-last-item {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
      }
    }
  }

  &-ripple-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: inherit;

    span {
      transform: scale(0);
      border-radius: 100%;
      position: absolute;
      opacity: 0.75;
      z-index: -1; // 在文字下方显示动画
      background-color: var(--alley-button-ripple-container);
      animation-name: ripple;
      animation-duration: var(--alley-button-ripple-duration);
    }

    @keyframes ripple {
      to {
        opacity: 0;
        transform: scale(2);
      }
    }
  }
}

.dark {
  .#{$class-name} {
    --alley-color-button-backgroud: #1a1a1a;
    --alley-color-button-text: var(--alley-color-text);
  }
}
