.alley-layout {
  width: 100vw;
  height: 100vh;

  &-menu {
    .alley-menu {
      height: 100%;
    }
  }

  &-content {
    padding: var(--alley-layout-content-padding);
    flex: 1;
    overflow-y: scroll;
  }
}
