$base: "alley-input-number";

.#{$base} {
  --alley-input-number-padding-block: 4px;
  --alley-input-number-padding-block-sm: 0px;
  --alley-input-number-padding-block-lg: 7px;
  --alley-input-number-padding-inline: 11px;
  --alley-input-number-padding-inline-sm: 7px;
  --alley-input-number-padding-inline-lg: 11px;
  --alley-input-number-addon-bg: rgba(0, 0, 0, 0.02);
  --alley-input-number-active-border-color: var(--alley-color-hover);
  --alley-input-number-hover-border-color: var(--alley-color-hover);
  --alley-input-number-active-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  --alley-input-number-error-active-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);
  --alley-input-number-warning-active-shadow: 0 0 0 2px rgba(255, 215, 5, 0.1);
  --alley-input-number-hover-bg: #ffffff;
  --alley-input-number-active-bg: #ffffff;
  --alley-input-number-input-font-size: 14px;
  --alley-input-number-input-font-size-lg: 16px;
  --alley-input-number-input-font-size-sm: 14px;
  --alley-input-number-control-width: 90px;
  --alley-input-number-handle-width: 22px;
  --alley-input-number-handle-font-size: 7px;
  --alley-input-number-handle-visible: auto;
  --alley-input-number-handle-active-bg: rgba(0, 0, 0, 0.02);
  --alley-input-number-handle-bg: #ffffff;
  --alley-input-number-filled-handle-bg: #f0f0f0;
  --alley-input-number-handle-hover-color: var(--alley-color-hover);
  --alley-input-number-handle-border-color: #d9d9d9;
  --alley-input-number-handle-opacity: 0;

  background-color: var(--alley-color-bg-container);
  border-width: var(--alley-line-width);
  border-style: var(--alley-line-type);
  border-color: var(--alley-color-border);
  margin: 0;
  padding: 0;
  color: var(--alley-color-text);
  font-size: var(--alley-input-number-input-font-size);
  line-height: var(--alley-line-height);
  list-style: none;
  position: relative;
  display: inline-block;
  width: var(--alley-input-number-control-width);
  min-width: 0;
  border-radius: var(--alley-border-radius);
  transition: all var(--alley-motion-duration-mid);

  &:hover:not([disabled]) {
    border-color: var(--alley-input-number-hover-border-color);
    background-color: var(--alley-input-number-hover-bg);

    & .#{$base}-handler-wrap {
      opacity: 1;
    }
  }

  &:focus,
  &:focus-within {
    border-color: var(--alley-input-number-active-border-color);
    outline: 0;
    background-color: var(--alley-input-number-active-bg);
    filter: var(--alley-filter-sm);
  }

  &-disabled {
    color: var(--alley-color-text-disabled);
    background-color: var(--alley-color-bg-container-disabled);
    border-color: var(--alley-color-border);
    filter: none;
    opacity: 1;

    &:hover:not([disable]) {
      border-color: var(--alley-color-border);
      background-color: var(--alley-color-bg-container-disabled);
    }

    .#{$base}-handler-wrap {
      display: none;
    }

    input[disabled] {
      cursor: not-allowed;
      color: inherit;
    }
  }

  &-large {
    padding: 0;
    font-size: var(--alley-input-number-input-font-size-lg);
    line-height: var(--alley-line-height-lg);
    border-radius: var(--alley-border-radius-lg);
    font-size: var(--alley-font-size-lg);

    & .#{$base}-handler-wrap {
      border-start-end-radius: var(--alley-border-radius-lg);
      border-end-end-radius: var(--alley-border-radius-lg);
    }

    & .#{$base}-handler-up {
      border-start-end-radius: var(--alley-border-radius-lg);
    }

    & .#{$base}-handler-down {
      border-end-end-radius: var(--alley-border-radius-lg);
    }

    input.#{$base}-input {
      height: calc(
        var(--alley-control-height-lg) - var(--alley-line-width) * 2
      );
      padding: var(--alley-input-number-padding-block-lg)
        var(--alley-input-number-padding-inline-lg);
    }
  }

  &-small {
    padding: 0;
    border-radius: var(--alley-border-radius-sm);
    height: calc(var(--alley-control-height-sm) - 2px);

    & .#{$base}-handler-wrap {
      border-start-end-radius: var(--alley-border-radius-sm);
      border-end-end-radius: var(--alley-border-radius-sm);
    }

    & .#{$base}-handler-up {
      border-start-end-radius: var(--alley-border-radius-sm);
    }

    & .#{$base}-handler-down {
      border-end-end-radius: var(--alley-border-radius-sm);
    }

    input.#{$base}-input {
      height: calc(
        var(--alley-control-height-sm) - var(--alley-line-width) * 2
      );
      padding: var(--alley-input-number-padding-block-sm)
        var(--alley-input-number-padding-inline-sm);

      &::placeholder {
        font-size: 12px;
      }
    }
  }

  &-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    height: 40%;
    border-start-end-radius: var(--alley-border-radius);
    overflow: hidden;
    color: var(--alley-color-text-description);
    font-weight: bold;
    line-height: 0;
    text-align: center;
    border-inline-start: var(--alley-line-width) var(--alley-line-type)
      var(--alley-input-number-handle-border-color);
    transition: all var(--alley-motion-duration-mid) linear;

    &:hover {
      height: 60%;

      & .#{$base}-handler-up-inner,
      & .#{$base}-handler-down-inner {
        color: var(--alley-input-number-handle-hover-color);
      }
    }

    &-up-inner,
    &-down-inner {
      margin-inline-end: 0;
      font-size: var(--alley-input-number-handle-font-size);
      display: inline-flex;
      align-items: center;
      color: var(--alley-color-text-description);
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -0.125rem;
      text-rendering: optimizeLegibility;
      transition: all var(--alley-motion-duration-mid) linear;

      > * {
        line-height: 1;
      }

      svg {
        display: inline-block;
      }
    }

    &-up {
      border-start-end-radius: var(--alley-border-radius);
    }

    &-down {
      border-block-start: var(--alley-line-width) var(--alley-line-type)
        var(--alley-input-number-handle-border-color);
      border-start-end-radius: 0;
      border-end-end-radius: var(--alley-border-radius);
    }
  }

  &-handler-wrap {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: var(--alley-input-number-handle-width);
    height: 100%;
    border-start-start-radius: 0;
    border-start-end-radius: var(--alley-border-radius);
    border-end-end-radius: var(--alley-border-radius);
    border-end-start-radius: 0;
    opacity: var(--alley-input-number-handle-opacity);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: opacity var(--alley-motion-duration-mid) linear
      var(--alley-motion-duration-mid);
    background-color: var(--alley-input-number-handle-bg);
  }

  &-input {
    box-sizing: border-box;
    margin: 0;
    padding: var(--alley-input-number-padding-block)
      var(--alley-input-number-padding-inline);
    color: var(--alley-color-text);
    font-size: inherit;
    line-height: var(--alley-line-height);
    list-style: none;
    width: 100%;
    text-align: start;
    background-color: transparent;
    border: 0;
    border-radius: var(--alley-border-radius);
    outline: 0;
    transition: all var(--alley-motion-duration-mid) linear;
    appearance: textfield;
  }

  &-space-compact-item {
    &:hover,
    &:focus,
    &:focus-within {
      z-index: 2;
    }

    &:not(:last-child) {
      margin-inline-end: calc(var(--alley-line-width) * -1);

      &:first-child {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }
    }
  }
}

.dark {
  .alley-input-number {
    --alley-input-number-addon-bg: rgba(255, 255, 255, 0.04);
    --alley-input-number-active-shadow: 0 0 0 2px rgba(0, 60, 180, 0.15);
    --alley-input-number-error-active-shadow: 0 0 0 2px rgba(238, 38, 56, 0.11);
    --alley-input-number-warning-active-shadow: 0 0 0 2px
      rgba(173, 107, 0, 0.15);
    --alley-input-number-hover-bg: #141414;
    --alley-input-number-active-bg: #141414;
    --alley-input-number-handle-active-bg: rgba(255, 255, 255, 0.04);
    --alley-input-number-handle-bg: #141414;
    --alley-input-number-filled-handle-bg: #303030;
    --alley-input-number-handle-border-color: #424242;
  }
}
