.tooltip {
  display: inline-block;
  width: max-content;
  max-width: 280px;
  text-align: start;
  --visibility: hidden;
  --arrow-gap: 5px;

  &-text {
    width: 100%;
  }

  &-popover {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 0.3rem;
    border-radius: 4px;
    z-index: 9999;
    font-size: 0.8rem;
    width: max-content;
    max-width: 250px;
    visibility: var(--visibility);
    box-shadow: var(--alley-box-shadow-secondary);

    &-left {
      left: var(--left);
      top: var(--top);
      transform: translateY(-50%);
    }

    &-right {
      left: var(--left);
      top: var(--top);
      transform: translateY(-50%);
    }

    &-top {
      top: var(--top);
      left: var(--left);
      transform: translateX(-50%) translateY(-100%);
    }

    &-bottom {
      top: var(--top);
      left: var(--left);
      transform: translateX(-50%) translateY(-100%);
    }

    &-arrow {
      position: absolute;
      width: 0;
      height: 0;

      &-left {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #333;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
      }

      &-right {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #333;
        top: 50%;
        left: calc(var(--arrow-gap) * -1);
        transform: translateY(-50%);
      }

      &-top {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #333;
        top: 100%;
        left: calc(50% - var(--arrow-gap));
      }

      &-bottom {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #333;
        top: calc(var(--arrow-gap) * -1);
        left: calc(50% - var(--arrow-gap) - var(--offset-x));
      }
    }
  }
}
