.alley-tooltip {
  --alley-tooltip-visibility: hidden;
  --alley-tooltip-arrow-gap: 5px;

  display: inline-block;
  width: max-content;
  max-width: 280px;
  text-align: start;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  padding: var(--alley-tooltip-padding, 0.3rem);
  border-radius: 4px;
  z-index: 9999;
  font-size: var(--alley-tooltip-font-size, 0.8rem);
  width: max-content;
  box-shadow: var(--alley-box-shadow-secondary);
  position: absolute;

  &-small {
    --alley-tooltip-font-size: 0.6rem;
    --alley-tooltip-padding: 0.15rem;
  }

  &-large {
    --alley-tooltip-padding: 0.5rem;
    --alley-tooltip-font-size: 1rem;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;

    &-left {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #333;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
    }

    &-right {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid #333;
      top: 50%;
      left: calc(var(--alley-tooltip-arrow-gap) * -1);
      transform: translateY(-50%);
    }

    &-top {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;
      top: 100%;
      left: calc(50% - var(--alley-tooltip-arrow-gap));
    }

    &-bottom {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #333;
      top: calc(var(--alley-tooltip-arrow-gap) * -1);
      left: calc(50% - var(--alley-tooltip-arrow-gap));
    }
  }
}
