$base: "alley-input";

.#{$base} {
  --alley-input-padding-block: 4px;
  --alley-input-padding-block-sm: 0px;
  --alley-input-padding-block-lg: 7px;
  --alley-input-padding-inline: 11px;
  --alley-input-padding-inline-sm: 7px;
  --alley-input-padding-inline-lg: 11px;
  --alley-input-addon-bg: rgba(0, 0, 0, 0.02);
  --alley-input-active-border-color: var(--alley-color-primary);
  --alley-input-hover-border-color: var(--alley-color-hover);
  --alley-input-active-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  --alley-input-error-active-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);
  --alley-input-warning-active-shadow: 0 0 0 2px rgba(255, 215, 5, 0.1);
  --alley-input-hover-bg: #ffffff;
  --alley-input-active-bg: #ffffff;
  --alley-input-input-font-size-sm: 12px;
  --alley-input-input-font-size: 14px;
  --alley-input-input-font-size-lg: 16px;

  width: 100%;
  text-overflow: ellipsis;
  background: var(--alley-color-bg-container);
  border-width: var(--alley-line-width);
  border-style: var(--alley-line-type);
  border-color: var(--alley-color-border);
  margin: 0;
  padding: var(--alley-input-padding-block) var(--alley-input-padding-inline);
  color: var(--alley-color-text);
  font-size: var(--alley-input-input-font-size);
  line-height: var(--alley-line-height);
  list-style: none;
  position: relative;
  display: inline-block;
  min-width: 0;
  border-radius: var(--alley-border-radius);
  transition: all var(--alley-motion-duration-mid);
  box-sizing: border-box;

  &:hover:not([disabled]) {
    border-color: var(--alley-input-hover-border-color);
    background-color: var(--alley-input-hover-bg);
  }

  &:focus,
  &:focus-within {
    border-color: var(--alley-input-active-border-color);
    outline: 0;
    background-color: var(--alley-input-active-bg);
    filter: var(--alley-filter-sm);
  }

  &-disabled {
    color: var(--alley-color-text-disabled);
    background-color: var(--alley-color-bg-container-disabled);
    border-color: var(--alley-color-border);
    filter: none;
    cursor: not-allowed;
    opacity: 1;
  }

  &-small {
    padding: var(--alley-input-padding-block-sm)
      var(--alley-input-padding-inline-sm);
    font-size: var(--alley-input-input-font-size-sm);
    border-radius: var(--alley-border-radius-sm);
  }

  &-large {
    padding: var(--alley-input-padding-block-lg)
      var(--alley-input-padding-inline-lg);
    font-size: var(--alley-input-input-font-size-lg);
    border-radius: var(--alley-border-radius-lg);
    line-height: var(--alley-line-height-lg);
  }

  &-space-compact-item {
    &:hover,
    &:focus,
    &:focus-within {
      z-index: 2;
    }

    &:not(:last-child) {
      margin-inline-end: calc(var(--alley-line-width) * -1);

      &:first-child {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }
    }
  }
}

.dark .alley-input {
  --alley-input-addon-bg: rgba(255, 255, 255, 0.04);
  // --alley-input-active-border-color: #1668dc;
  // --alley-input-hover-border-color: #3c89e8;
  --alley-input-active-shadow: 0 0 0 2px rgba(0, 60, 180, 0.15);
  --alley-input-error-active-shadow: 0 0 0 2px rgba(238, 38, 56, 0.11);
  --alley-input-warning-active-shadow: 0 0 0 2px rgba(173, 107, 0, 0.15);
  --alley-input-hover-bg: #141414;
  --alley-input-active-bg: #141414;
}
