$base: "dropdown";

.#{$base} {
  --alley-dropdown-padding-block: 5px;
  --arrow-x: 38.758331298828125px;
  --arrow-y: 115px;

  inset: auto auto -892.917px 744.25px;
  box-sizing: border-box;
  min-width: 57.5167px;
  margin: 0;
  padding: 0;
  color: var(--alley-color-text);
  font-size: 14px;
  list-style: none;
  position: fixed;
  height: 62px;
  z-index: 99;
  transition: all 0.2s ease-in;

  &-hidden {
    opacity: 0;
    height: 0;
    transition: all 0.2s ease-out;
    z-index: -1;
  }

  &-menu {
    padding: var(--alley-padding-xxs);
    list-style-type: none;
    background-color: var(--alley-color-bg-elevated);
    background-clip: padding-box;
    border-radius: var(--alley-border-radius-lg);
    outline: none;
    box-shadow: var(--alley-box-shadow-secondary);
    position: relative;
    margin: 0;
  }

  &-menu-item {
    list-style-type: none;
    clear: both;
    margin: 0;
    padding: var(--alley-dropdown-padding-block) var(--alley-control-padding-horizontal);
    color: var(--alley-color-text);
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    transition: all var(--alley-motion-duration-mid);
    border-radius: var(--alley-border-radius-sm);
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--alley-control-item-bg-hover);
      color: #fff;
    }
  }

  &-menu-title-content {
    flex: auto;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;

    >a {
      cursor: inherit;
      transition: all var(--alley-motion-duration-mid);

      &:hover {
        color: #fff;
      }
    }
  }
}
