:root {
  --alley-color-text: rgba(0, 0, 0, 0.88);
  --alley-color-text-heading: rgba(0, 0, 0, 0.88);
  --alley-color-text-disabled: #c4c4c4;
  --alley-color-text-reverse: #fff;
  --alley-color-text-description: rgba(0, 0, 0, 0.45);

  --alley-color-weak: #999;
  --alley-color-light: #ccc;

  --alley-color-success: var(--alley-green-6);
  --alley-color-success-bg: var(--alley-green-1);
  --alley-color-success-border: var(--alley-green-3);

  --alley-color-info: var(--alley-slate-blue-6);
  --alley-color-info-bg: var(--alley-slate-blue-1);
  --alley-color-info-border: var(--alley-slate-blue-3);

  --alley-color-warning: var(--alley-gold-6);
  --alley-color-warning-bg: var(--alley-gold-1);
  --alley-color-warning-border: var(--alley-gold-3);

  --alley-color-error: var(--alley-red-5);
  --alley-color-error-bg: var(--alley-red-1);
  --alley-color-error-border: var(--alley-red-2);
  --alley-color-danger: var(--alley-color-error);

  --alley-blue-1: #e6f4ff;
  --alley-blue-2: #bae0ff;
  --alley-blue-3: #91caff;
  --alley-blue-4: #69b1ff;
  --alley-blue-5: #4096ff;
  --alley-blue-6: #1677ff;
  --alley-blue-7: #0958d9;
  --alley-blue-8: #003eb3;
  --alley-blue-9: #002c8c;
  --alley-blue-10: #001d66;

  --alley-slate-blue-1: #eaecff;
  --alley-slate-blue-2: #d7d9ff;
  --alley-slate-blue-3: #c0c3ff;
  --alley-slate-blue-4: #9ca1ff;
  --alley-slate-blue-5: #8389ff;
  --alley-slate-blue-6: #646cff;
  --alley-slate-blue-7: #5056cc;
  --alley-slate-blue-8: #4045a3;
  --alley-slate-blue-9: #333782;
  --alley-slate-blue-10: #141533;

  --alley-green-1: #f6ffed;
  --alley-green-2: #d9f7be;
  --alley-green-3: #b7eb8f;
  --alley-green-4: #95de64;
  --alley-green-5: #73d13d;
  --alley-green-6: #52c41a;
  --alley-green-7: #389e0d;
  --alley-green-8: #237804;
  --alley-green-9: #135200;
  --alley-green-10: #092b00;

  --alley-purple-1: #f9f0ff;
  --alley-purple-2: #efdbff;
  --alley-purple-3: #d3adf7;
  --alley-purple-4: #b37feb;
  --alley-purple-5: #9254de;
  --alley-purple-6: #722ed1;
  --alley-purple-7: #531dab;
  --alley-purple-8: #391085;
  --alley-purple-9: #22075e;
  --alley-purple-10: #120338;

  --alley-gold-1: #fffbe6;
  --alley-gold-2: #fff1b8;
  --alley-gold-3: #ffe58f;
  --alley-gold-4: #ffd666;
  --alley-gold-5: #ffc53d;
  --alley-gold-6: #faad14;
  --alley-gold-7: #d48806;
  --alley-gold-8: #ad6800;
  --alley-gold-9: #874d00;
  --alley-gold-10: #613400;

  --alley-red-1: #fff1f0;
  --alley-red-2: #ffccc7;
  --alley-red-3: #ffa39e;
  --alley-red-4: #ff7875;
  --alley-red-5: #ff4d4f;
  --alley-red-6: #f5222d;
  --alley-red-7: #cf1322;
  --alley-red-8: #a8071a;
  --alley-red-9: #820014;
  --alley-red-10: #5c0011;

  --alley-color-primary: var(--alley-slate-blue-6);

  --alley-color-hover: var(--alley-color-primary);
  --alley-color-hover-text: var(--alley-color-hover);

  --alley-color-hover-danger: var(--alley-color-danger);
  --alley-color-hover-filter: #646cffaa;
  --alley-color-hover-danger-filter: rgba(255, 48, 64, 0.76);

  --alley-color-bg: #fff;
  --alley-color-bg-elevated: #fff;
  --alley-color-bg-container: #fff;
  --alley-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
  --alley-color-bg-text-active: rgba(0, 0, 0, 0.15);

  --alley-color-border: #eee;
  --alley-color-border-secondary: #f0f0f0;

  --alley-color-mask: rgba(255, 255, 255, 0.8);

  --alley-color-split: rgba(5, 5, 5, 0.06);

  --alley-color-scrollbar: rgba(0, 0, 0, 0.1);
  --alley-color-scrollbar-hover: rgba(0, 0, 0, 0.4);

  --alley-font-size-1: 9px;
  --alley-font-size-2: 10px;
  --alley-font-size-3: 11px;
  --alley-font-size-4: 12px;
  --alley-font-size-5: 13px;
  --alley-font-size-6: 14px;
  --alley-font-size-7: 15px;
  --alley-font-size-8: 16px;
  --alley-font-size-9: 17px;
  --alley-font-size-10: 18px;

  --alley-font-size-sm: var(--alley-font-size-4);
  --alley-font-size: var(--alley-font-size-6);
  --alley-font-size-icon: var(--alley-font-size-4);
  --alley-font-size-lg: var(--alley-font-size-8);

  --alley-font-size-heading-1: 38px;
  --alley-font-size-heading-2: 30px;
  --alley-font-size-heading-3: 24px;
  --alley-font-size-heading-4: 20px;
  --alley-font-size-heading-5: 16px;

  --alley-font-weight-strong: 600;

  --alley-font-monospace: "Luxi Mono", "Monaco", "Consolas", "Cascadia Mono",
    "Courier New", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --alley-font-family-code: var(--alley-font-monospace);

  --alley-motion-duration-fast: 0.1s;
  --alley-motion-duration-mid: 0.2s;
  --alley-motion-duration-slow: 0.3s;

  --alley-filter: drop-shadow(0 0 1em var(--alley-color-hover-filter));
  --alley-filter-lg: drop-shadow(0 0 0.7em var(--alley-color-hover-filter));
  --alley-filter-sm: drop-shadow(0 0 0.4em var(--alley-color-hover-filter));

  --alley-border-radius-lg: 8px;
  --alley-border-radius: 6px;
  --alley-border-radius-sm: 4px;
  --alley-border-radius-lg: 8px;

  --alley-line-width: 1px;
  --alley-line-type: solid;

  --alley-line-height: 1.5714285714285714;
  --alley-line-height-lg: 1.5;

  --alley-line-height-heading-1: 1.2105263157894737;
  --alley-line-height-heading-2: 1.2666666666666666;
  --alley-line-height-heading-3: 1.3333333333333333;
  --alley-line-height-heading-4: 1.4;
  --alley-line-height-heading-5: 1.5;

  --alley-margin-xs: 8px;
  --alley-margin: 16px;
  --alley-margin-lg: 24px;

  --alley-padding-xxs: 4px;
  --alley-padding-xs: 8px;
  --alley-padding-s: 8px;
  --alley-padding: 16px;
  --alley-padding-l: 12px;
  --alley-padding-xl: 14px;
  --alley-padding-xxl: 24px;

  --alley-padding-lg: 24px;

  --alley-box-shadow-secondary: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
  --alley-box-shadow-tertiary: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

  --alley-control-height-sm: 24px;
  --alley-control-height: 32px;
  --alley-control-height-lg: 40px;
  --alley-control-padding-horizontal: 12px;
  --alley-control-item-bg-hover: var(--alley-color-primary);
  --alley-control-item-text-hover: #fff;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--alley-font-size);

  transition: all var(--motion-duration-mid);

  color-scheme: light dark;
  color: var(--alley-color-text);
  background-color: var(--alley-color-bg);

  /* 桌面端默认禁止文本选择 */
  -webkit-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--alley-color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--alley-color-scrollbar-hover);
}

::-webkit-scrollbar-track {
  background-color: #fff0;
}

input[disabled] {
  pointer-events: none;
}

.dark {
  --alley-color-text: var(--alley-color-light);
  --alley-color-text-heading: rgba(255, 255, 255, 0.85);
  --alley-color-text-reverse: #1a1a1a;
  --alley-color-text-disabled: #6a6a6a;
  --alley-color-text-description: rgba(255, 255, 255, 0.45);

  --alley-color-shadow: #000;

  --alley-color-border: #424242;

  --alley-color-hover-danger-hover: #e86e6b;

  --alley-color-bg: #242424;
  --alley-color-bg-elevated: #2f2f2f;
  --alley-color-bg-container: rgb(20, 20, 20);

  --alley-color-mask: rgba(0, 0, 0, 0.5);

  --alley-color-scrollbar: rgba(255, 255, 255, 0.1);
  --alley-color-scrollbar-hover: rgba(255, 255, 255, 0.2);

  --alley-control-item-bg-hover: rgba(255, 255, 255, 0.08);
  --alley-control-item-text-hover: var(--alley-color-hover-text);

  --alley-blue-10: #e6f4ff;
  --alley-blue-9: #bae0ff;
  --alley-blue-8: #91caff;
  --alley-blue-7: #69b1ff;
  --alley-blue-6: #4096ff;
  --alley-blue-5: #1677ff;
  --alley-blue-4: #0958d9;
  --alley-blue-3: #003eb3;
  --alley-blue-2: #002c8c;
  --alley-blue-1: #001d66;

  --alley-slate-blue-10: #eaecff;
  --alley-slate-blue-9: #d7d9ff;
  --alley-slate-blue-8: #c0c3ff;
  --alley-slate-blue-7: #9ca1ff;
  --alley-slate-blue-6: #8389ff;
  --alley-slate-blue-5: #646cff;
  --alley-slate-blue-4: #5056cc;
  --alley-slate-blue-3: #4045a3;
  --alley-slate-blue-2: #333782;
  --alley-slate-blue-1: #292c68;

  --alley-green-10: #f6ffed;
  --alley-green-9: #d9f7be;
  --alley-green-8: #b7eb8f;
  --alley-green-7: #95de64;
  --alley-green-6: #73d13d;
  --alley-green-5: #52c41a;
  --alley-green-4: #389e0d;
  --alley-green-3: #237804;
  --alley-green-2: #135200;
  --alley-green-1: #092b00;

  --alley-purple-10: #f9f0ff;
  --alley-purple-9: #efdbff;
  --alley-purple-8: #d3adf7;
  --alley-purple-7: #b37feb;
  --alley-purple-6: #9254de;
  --alley-purple-5: #722ed1;
  --alley-purple-4: #531dab;
  --alley-purple-3: #391085;
  --alley-purple-2: #22075e;
  --alley-purple-1: #120338;

  --alley-gold-10: #fffbe6;
  --alley-gold-9: #fff1b8;
  --alley-gold-8: #ffe58f;
  --alley-gold-7: #ffd666;
  --alley-gold-6: #ffc53d;
  --alley-gold-5: #faad14;
  --alley-gold-4: #d48806;
  --alley-gold-3: #ad6800;
  --alley-gold-2: #874d00;
  --alley-gold-1: #613400;

  --alley-red-10: #fff1f0;
  --alley-red-9: #ffccc7;
  --alley-red-8: #ffa39e;
  --alley-red-7: #ff7875;
  --alley-red-6: #ff4d4f;
  --alley-red-5: #f5222d;
  --alley-red-4: #cf1322;
  --alley-red-3: #a8071a;
  --alley-red-2: #820014;
  --alley-red-1: #5c0011;
}
