:root {
  --alley-color-text: rgba(0, 0, 0, 0.88);
  --alley-color-text-heading: rgba(0, 0, 0, 0.88);

  --alley-color-success: #52c41a;
  --alley-color-success-bg: #f6ffed;
  --alley-color-success-border: #b7eb8f;

  --alley-color-info: #1677ff;
  --alley-color-info-bg: #e6f4ff;
  --alley-color-info-border: #91caff;

  --alley-color-warning: #faad14;
  --alley-color-warning-bg: #fffbe6;
  --alley-color-warning-border: #ffe58f;

  --alley-color-error: #ff4d4f;
  --alley-color-error-bg: #fff2f0;
  --alley-color-error-border: #ffccc7;

  --alley-blue-1: #e6f4ff;
  --alley-blue-2: #bae0ff;
  --alley-blue-3: #91caff;
  --alley-blue-4: #69b1ff;
  --alley-blue-5: #4096ff;
  --alley-blue-6: #1677ff;
  --alley-blue-7: #0958d9;
  --alley-blue-8: #003eb3;
  --alley-blue-9: #002c8c;
  --alley-blue-10: #001d66;

  --alley-green-1: #f6ffed;
  --alley-green-2: #d9f7be;
  --alley-green-3: #b7eb8f;
  --alley-green-4: #95de64;
  --alley-green-5: #73d13d;
  --alley-green-6: #52c41a;
  --alley-green-7: #389e0d;
  --alley-green-8: #237804;
  --alley-green-9: #135200;
  --alley-green-10: #092b00;

  --alley-font-size: 14px;
  --alley-font-size-icon: 12px;

  --alley-border-radius-lg: 8px;

  --alley-line-width: 1px;
  --alley-line-type: solid;
  --alley-line-height: 1.5714285714285714;

  --alley-margin-xs: 8px;
}
