:root {
  --alley-color-text: rgba(0, 0, 0, 0.88);
  --alley-color-text-heading: rgba(0, 0, 0, 0.88);
  --alley-color-text-disabled: #c4c4c4;
  --alley-color-text-reverse: #fff;
  --alley-color-text-description: rgba(0, 0, 0, 0.45);
  --alley-color-text-light-solid: #fff;

  --alley-color-weak: #999;
  --alley-color-light: #ccc;

  --alley-color-success: var(--alley-green-6);
  --alley-color-success-bg: var(--alley-green-1);
  --alley-color-success-border: var(--alley-green-3);

  --alley-color-info: var(--alley-slate-blue-6);
  --alley-color-info-bg: var(--alley-slate-blue-1);
  --alley-color-info-border: var(--alley-slate-blue-3);

  --alley-color-warning: var(--alley-gold-6);
  --alley-color-warning-bg: var(--alley-gold-1);
  --alley-color-warning-border: var(--alley-gold-3);

  --alley-color-error: var(--alley-red-5);
  --alley-color-error-bg: var(--alley-red-1);
  --alley-color-error-border: var(--alley-red-2);
  --alley-color-danger: var(--alley-color-error);

  --alley-blue-1: #e6f4ff;
  --alley-blue-2: #bae0ff;
  --alley-blue-3: #91caff;
  --alley-blue-4: #69b1ff;
  --alley-blue-5: #4096ff;
  --alley-blue-6: #1677ff;
  --alley-blue-7: #0958d9;
  --alley-blue-8: #003eb3;
  --alley-blue-9: #002c8c;
  --alley-blue-10: #001d66;

  --alley-slate-blue-1: #eaecff;
  --alley-slate-blue-2: #d7d9ff;
  --alley-slate-blue-3: #c0c3ff;
  --alley-slate-blue-4: #9ca1ff;
  --alley-slate-blue-5: #8389ff;
  --alley-slate-blue-6: #646cff;
  --alley-slate-blue-7: #5056cc;
  --alley-slate-blue-8: #4045a3;
  --alley-slate-blue-9: #333782;
  --alley-slate-blue-10: #141533;

  --alley-green-1: #f6ffed;
  --alley-green-2: #d9f7be;
  --alley-green-3: #b7eb8f;
  --alley-green-4: #95de64;
  --alley-green-5: #73d13d;
  --alley-green-6: #52c41a;
  --alley-green-7: #389e0d;
  --alley-green-8: #237804;
  --alley-green-9: #135200;
  --alley-green-10: #092b00;

  --alley-purple-1: #f9f0ff;
  --alley-purple-2: #efdbff;
  --alley-purple-3: #d3adf7;
  --alley-purple-4: #b37feb;
  --alley-purple-5: #9254de;
  --alley-purple-6: #722ed1;
  --alley-purple-7: #531dab;
  --alley-purple-8: #391085;
  --alley-purple-9: #22075e;
  --alley-purple-10: #120338;

  --alley-gold-1: #fffbe6;
  --alley-gold-2: #fff1b8;
  --alley-gold-3: #ffe58f;
  --alley-gold-4: #ffd666;
  --alley-gold-5: #ffc53d;
  --alley-gold-6: #faad14;
  --alley-gold-7: #d48806;
  --alley-gold-8: #ad6800;
  --alley-gold-9: #874d00;
  --alley-gold-10: #613400;

  --alley-red-1: #fff1f0;
  --alley-red-2: #ffccc7;
  --alley-red-3: #ffa39e;
  --alley-red-4: #ff7875;
  --alley-red-5: #ff4d4f;
  --alley-red-6: #f5222d;
  --alley-red-7: #cf1322;
  --alley-red-8: #a8071a;
  --alley-red-9: #820014;
  --alley-red-10: #5c0011;

  --alley-magenta-1: #fff0f6;
  --alley-magenta-2: #ffd6e7;
  --alley-magenta-3: #ffadd2;
  --alley-magenta-4: #ff85c0;
  --alley-magenta-5: #f759ab;
  --alley-magenta-6: #eb2f96;
  --alley-magenta-7: #c41d7f;
  --alley-magenta-8: #9e1068;
  --alley-magenta-9: #780650;
  --alley-magenta-10: #520339;

  --alley-volcano-1: #fff2e8;
  --alley-volcano-2: #ffd8bf;
  --alley-volcano-3: #ffbb96;
  --alley-volcano-4: #ff9c6e;
  --alley-volcano-5: #ff7a45;
  --alley-volcano-6: #fa541c;
  --alley-volcano-7: #d4380d;
  --alley-volcano-8: #ad2102;
  --alley-volcano-9: #871400;
  --alley-volcano-10: #610b00;

  --alley-orange-1: #fff7e6;
  --alley-orange-2: #ffe7ba;
  --alley-orange-3: #ffd591;
  --alley-orange-4: #ffc069;
  --alley-orange-5: #ffa940;
  --alley-orange-6: #fa8c16;
  --alley-orange-7: #d46b08;
  --alley-orange-8: #ad4e00;
  --alley-orange-9: #873800;
  --alley-orange-10: #612500;

  --alley-lime-1: #fcffe6;
  --alley-lime-2: #f4ffb8;
  --alley-lime-3: #eaff8f;
  --alley-lime-4: #d3f261;
  --alley-lime-5: #bae637;
  --alley-lime-6: #a0d911;
  --alley-lime-7: #7cb305;
  --alley-lime-8: #5b8c00;
  --alley-lime-9: #3f6600;
  --alley-lime-10: #254000;

  --alley-cyan-1: #e6fffb;
  --alley-cyan-2: #b5f5ec;
  --alley-cyan-3: #87e8de;
  --alley-cyan-4: #5cdbd3;
  --alley-cyan-5: #36cfc9;
  --alley-cyan-6: #13c2c2;
  --alley-cyan-7: #08979c;
  --alley-cyan-8: #006d75;
  --alley-cyan-9: #00474f;
  --alley-cyan-10: #002329;

  --alley-geekblue-1: #f0f5ff;
  --alley-geekblue-2: #d6e4ff;
  --alley-geekblue-3: #adc6ff;
  --alley-geekblue-4: #85a5ff;
  --alley-geekblue-5: #597ef7;
  --alley-geekblue-6: #2f54eb;
  --alley-geekblue-7: #1d39c4;
  --alley-geekblue-8: #10239e;
  --alley-geekblue-9: #061178;
  --alley-geekblue-10: #030852;

  --alley-color-primary: var(--alley-slate-blue-6);

  --alley-color-hover: var(--alley-color-primary);
  --alley-color-hover-text: var(--alley-color-hover);

  --alley-color-hover-danger: var(--alley-color-danger);
  --alley-color-hover-filter: #646cffaa;
  --alley-color-hover-danger-filter: rgba(255, 48, 64, 0.76);

  --alley-color-bg: #fff;
  --alley-color-bg-elevated: #fff;
  --alley-color-bg-container: #fff;
  --alley-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
  --alley-color-bg-text-active: rgba(0, 0, 0, 0.15);

  --alley-color-border: #eee;
  --alley-color-border-secondary: #f0f0f0;

  --alley-color-mask: rgba(255, 255, 255, 0.8);

  --alley-color-split: rgba(5, 5, 5, 0.06);

  --alley-color-scrollbar: rgba(0, 0, 0, 0.1);
  --alley-color-scrollbar-hover: rgba(0, 0, 0, 0.4);

  --alley-font-size-1: 9px;
  --alley-font-size-2: 10px;
  --alley-font-size-3: 11px;
  --alley-font-size-4: 12px;
  --alley-font-size-5: 13px;
  --alley-font-size-6: 14px;
  --alley-font-size-7: 15px;
  --alley-font-size-8: 16px;
  --alley-font-size-9: 17px;
  --alley-font-size-10: 18px;

  --alley-font-size-sm: var(--alley-font-size-4);
  --alley-font-size: var(--alley-font-size-6);
  --alley-font-size-icon: var(--alley-font-size-4);
  --alley-font-size-lg: var(--alley-font-size-8);

  --alley-font-size-heading-1: 38px;
  --alley-font-size-heading-2: 30px;
  --alley-font-size-heading-3: 24px;
  --alley-font-size-heading-4: 20px;
  --alley-font-size-heading-5: 16px;

  --alley-font-weight-strong: 600;

  --alley-font-monospace: "Luxi Mono", "Monaco", "Consolas", "Cascadia Mono",
    "Courier New", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --alley-font-family-code: var(--alley-font-monospace);

  --alley-motion-duration-fast: 0.1s;
  --alley-motion-duration-mid: 0.2s;
  --alley-motion-duration-slow: 0.3s;
  --alley-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

  --alley-filter: drop-shadow(0 0 1em var(--alley-color-hover-filter));
  --alley-filter-lg: drop-shadow(0 0 0.7em var(--alley-color-hover-filter));
  --alley-filter-sm: drop-shadow(0 0 0.4em var(--alley-color-hover-filter));

  --alley-border-radius-lg: 8px;
  --alley-border-radius: 6px;
  --alley-border-radius-sm: 4px;
  --alley-border-radius-lg: 8px;

  --alley-line-width: 1px;
  --alley-line-type: solid;

  --alley-line-height: 1.5714285714285714;
  --alley-line-height-sm: 1.6666666666666667;
  --alley-line-height-lg: 1.5;

  --alley-line-height-heading-1: 1.2105263157894737;
  --alley-line-height-heading-2: 1.2666666666666666;
  --alley-line-height-heading-3: 1.3333333333333333;
  --alley-line-height-heading-4: 1.4;
  --alley-line-height-heading-5: 1.5;

  --alley-margin-xs: 8px;
  --alley-margin: 16px;
  --alley-margin-lg: 24px;

  --alley-padding-xxs: 4px;
  --alley-padding-xs: 8px;
  --alley-padding-s: 8px;
  --alley-padding: 16px;
  --alley-padding-l: 12px;
  --alley-padding-xl: 14px;
  --alley-padding-xxl: 24px;

  --alley-padding-lg: 24px;

  --alley-box-shadow-secondary: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
  --alley-box-shadow-tertiary: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

  --alley-control-height-sm: 24px;
  --alley-control-height: 32px;
  --alley-control-height-lg: 40px;
  --alley-control-padding-horizontal: 12px;
  --alley-control-item-bg-hover: var(--alley-color-primary);
  --alley-control-item-text-hover: #fff;

  --alley-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-family: var(--alley-font-family);
  font-size: var(--alley-font-size);

  transition: all var(--motion-duration-mid);

  color-scheme: light dark;
  color: var(--alley-color-text);
  background-color: var(--alley-color-bg);

  /* 桌面端默认禁止文本选择 */
  -webkit-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;

  /* 输入框 cursor 为 text，其他元素使用 default */
  input.alley-input,
  .alley-input-number input {
    cursor: text;

    &:hover {
      cursor: text;
    }
  }

  & [class^="alley-"],
  & [class*=" alley-"] {
    cursor: default;
  }

  &:hover {
    cursor: default;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--alley-color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--alley-color-scrollbar-hover);
}

::-webkit-scrollbar-track {
  background-color: #fff0;
}

input[disabled] {
  pointer-events: none;
}

.dark {
  --alley-color-text: var(--alley-color-light);
  --alley-color-text-heading: rgba(255, 255, 255, 0.85);
  --alley-color-text-reverse: #1a1a1a;
  --alley-color-text-disabled: #6a6a6a;
  --alley-color-text-description: rgba(255, 255, 255, 0.45);
  --alley-color-text-quaternary: rgba(255, 255, 255, 0.25);

  --alley-color-shadow: #000;

  --alley-color-hover-filter: #1c24cead;

  --alley-color-border: #424242;

  --alley-color-hover-danger-hover: #e86e6b;

  --alley-color-bg: #242424;
  --alley-color-bg-elevated: #2f2f2f;
  --alley-color-bg-container: rgb(20, 20, 20);

  --alley-color-mask: rgba(0, 0, 0, 0.5);

  --alley-color-scrollbar: rgba(255, 255, 255, 0.1);
  --alley-color-scrollbar-hover: rgba(255, 255, 255, 0.2);

  --alley-control-item-bg-hover: rgba(255, 255, 255, 0.08);
  --alley-control-item-text-hover: var(--alley-color-hover-text);

  --alley-blue-10: #e6f4ff;
  --alley-blue-9: #bae0ff;
  --alley-blue-8: #91caff;
  --alley-blue-7: #69b1ff;
  --alley-blue-6: #4096ff;
  --alley-blue-5: #1677ff;
  --alley-blue-4: #0958d9;
  --alley-blue-3: #003eb3;
  --alley-blue-2: #002c8c;
  --alley-blue-1: #001d66;

  --alley-slate-blue-10: #eaecff;
  --alley-slate-blue-9: #d7d9ff;
  --alley-slate-blue-8: #c0c3ff;
  --alley-slate-blue-7: #9ca1ff;
  --alley-slate-blue-6: #8389ff;
  --alley-slate-blue-5: #646cff;
  --alley-slate-blue-4: #5056cc;
  --alley-slate-blue-3: #4045a3;
  --alley-slate-blue-2: #333782;
  --alley-slate-blue-1: #292c68;

  --alley-green-10: #f6ffed;
  --alley-green-9: #d9f7be;
  --alley-green-8: #b7eb8f;
  --alley-green-7: #95de64;
  --alley-green-6: #73d13d;
  --alley-green-5: #52c41a;
  --alley-green-4: #389e0d;
  --alley-green-3: #237804;
  --alley-green-2: #135200;
  --alley-green-1: #092b00;

  --alley-purple-10: #f9f0ff;
  --alley-purple-9: #efdbff;
  --alley-purple-8: #d3adf7;
  --alley-purple-7: #b37feb;
  --alley-purple-6: #9254de;
  --alley-purple-5: #722ed1;
  --alley-purple-4: #531dab;
  --alley-purple-3: #391085;
  --alley-purple-2: #22075e;
  --alley-purple-1: #120338;

  --alley-gold-10: #fffbe6;
  --alley-gold-9: #fff1b8;
  --alley-gold-8: #ffe58f;
  --alley-gold-7: #ffd666;
  --alley-gold-6: #ffc53d;
  --alley-gold-5: #faad14;
  --alley-gold-4: #d48806;
  --alley-gold-3: #ad6800;
  --alley-gold-2: #874d00;
  --alley-gold-1: #613400;

  --alley-red-10: #fff1f0;
  --alley-red-9: #ffccc7;
  --alley-red-8: #ffa39e;
  --alley-red-7: #ff7875;
  --alley-red-6: #ff4d4f;
  --alley-red-5: #f5222d;
  --alley-red-4: #cf1322;
  --alley-red-3: #a8071a;
  --alley-red-2: #820014;
  --alley-red-1: #5c0011;

  --alley-cyan-1: #112123;
  --alley-cyan-2: #113536;
  --alley-cyan-3: #144848;
  --alley-cyan-4: #146262;
  --alley-cyan-5: #138585;
  --alley-cyan-6: #13a8a8;
  --alley-cyan-7: #33bcb7;
  --alley-cyan-8: #58d1c9;
  --alley-cyan-9: #84e2d8;
  --alley-cyan-10: #b2f1e8;

  --alley-orange-1: #2b1d11;
  --alley-orange-2: #442a11;
  --alley-orange-3: #593815;
  --alley-orange-4: #7c4a15;
  --alley-orange-5: #aa6215;
  --alley-orange-6: #d87a16;
  --alley-orange-7: #e89a3c;
  --alley-orange-8: #f3b765;
  --alley-orange-9: #f8cf8d;
  --alley-orange-10: #fae3b7;

  --alley-magenta-1: #291321;
  --alley-magenta-2: #40162f;
  --alley-magenta-3: #551c3b;
  --alley-magenta-4: #75204f;
  --alley-magenta-5: #a02669;
  --alley-magenta-6: #cb2b83;
  --alley-magenta-7: #e0529c;
  --alley-magenta-8: #f37fb7;
  --alley-magenta-9: #f8a8cc;
  --alley-magenta-10: #fad2e3;

  --alley-volcano-1: #2b1611;
  --alley-volcano-2: #441d12;
  --alley-volcano-3: #592716;
  --alley-volcano-4: #7c3118;
  --alley-volcano-5: #aa3e19;
  --alley-volcano-6: #d84a1b;
  --alley-volcano-7: #e87040;
  --alley-volcano-8: #f3956a;
  --alley-volcano-9: #f8b692;
  --alley-volcano-10: #fad4bc;

  --alley-geekblue-1: #131629;
  --alley-geekblue-2: #161d40;
  --alley-geekblue-3: #1c2755;
  --alley-geekblue-4: #203175;
  --alley-geekblue-5: #263ea0;
  --alley-geekblue-6: #2b4acb;
  --alley-geekblue-7: #5273e0;
  --alley-geekblue-8: #7f9ef3;
  --alley-geekblue-9: #a8c1f8;
  --alley-geekblue-10: #d2e0fa;

  --alley-lime-1: #1f2611;
  --alley-lime-2: #2e3c10;
  --alley-lime-3: #3e4f13;
  --alley-lime-4: #536d13;
  --alley-lime-5: #6f9412;
  --alley-lime-6: #8bbb11;
  --alley-lime-7: #a9d134;
  --alley-lime-8: #c9e75d;
  --alley-lime-9: #e4f88b;
  --alley-lime-10: #f0fab5;
}
